In [185]:
# Turning this into a full function now 
def GetConstructorStanding(years, rounds):
  url = "http://ergast.com/api/f1/{year}/{round}/constructorStandings.json".format(year = str(years), round = str(rounds))
  response = requests.get(url)
  stats = json.loads(response.text)
  column_list = ["Year", "Round", "Constructor", "Constructor_Points", "Constructor_Wins"]
  # make a new dataframe to write to 
  export = pd.DataFrame(columns=column_list)

  i = 0
  length = int(stats['MRData']['total'])

  while i < length: 
    # creating an if statement to stop the loop if
    # nothing is there 
    try:
      # creating an empty dict
      conStat = {}

      # now assigning what I need to this dict
      conStat['Year'] = stats['MRData']['StandingsTable']['season']
      conStat['Round'] = stats['MRData']['StandingsTable']['round']
      conStat['Constructor'] = stats['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings'][i]['Constructor']['name']
      conStat['Constructor_Points'] = stats['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings'][i]['points']
      conStat['Constructor_Wins'] = stats['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings'][i]['wins']

      # now creating a dataframe to work with this. 
      quick_df = pd.DataFrame(conStat, index= [0])
      export = pd.concat([export, quick_df], ignore_index=True)
      i+=1
    except IndexError:
      return export
  return export

In [186]:
GetConstructorStanding(2020, 5)

   Year Round   Constructor Constructor_Points Constructor_Wins
0  2020     5      Mercedes                180                4
1  2020     5      Red Bull                113                1
2  2020     5       Ferrari                 55                0
3  2020     5       McLaren                 53                0
4  2020     5  Racing Point                 41                0
5  2020     5       Renault                 36                0
6  2020     5    AlphaTauri                 14                0
7  2020     5    Alfa Romeo                  2                0
8  2020     5  Haas F1 Team                  1                0
9  2020     5      Williams                  0                0

In [163]:
def cleandata(df):
  '''
    The goal is to take in the messy dataframe and clean it up by creating data
    frames that contain only the data and returns a cleaned up dataframe. 

    TODO: Find a way to get this function working with a for loop. 
  '''
  df1 = pd.DataFrame()
  df2 = pd.DataFrame()
  df3 = pd.DataFrame()
  df4 = pd.DataFrame()
  df5 = pd.DataFrame()

  df1["Number"] = df['PermanentNumber']
  df2['First_Name'] = df['First_Name']
  df3['Last_Name'] = df['Last_Name']
  df4["DOB"] = df['DOB']
  df5['Nationality'] = df['Nationality']

  df1 = df1.dropna()
  df2 = df2.dropna().reset_index()
  df3 = df3.dropna().reset_index()
  df4 = df4.dropna().reset_index()
  df5 = df5.dropna().reset_index()

  new_df= pd.DataFrame()
  new_df["Number"] = df1['Number']
  new_df['First_Name'] = df2['First_Name']
  new_df['Last_Name'] = df3['Last_Name']
  new_df["DOB"] = df4['DOB']
  new_df['Nationality'] = df5['Nationality']
  return new_df

In [164]:
# Testing to see how to implement being one lap behind pace. 
url = "http://ergast.com/api/f1/2020/2/results.json"
response = requests.get(url)
laps = json.loads(response.text)
# This query is essentially grabbing the driver information for whoever ended with a +1 lap
# I need to make it a true/false statement. 
# EVEN BETTER I GOT WHERE I CAN GET THEIR FASTEST LAP INFORMATION.... 

laps['MRData']['RaceTable']['Races'][0]['Results'][1]['Time']['time']

'+13.719'

In [165]:
# Creating a mock dataframe that will contain the information I would like to keep. 

finish_mock = {}
finish_mock['First_Name'] = laps['MRData']['RaceTable']['Races'][0]['Results'][0]['Driver']['givenName']
finish_mock['Last_Name'] = laps['MRData']['RaceTable']['Races'][0]['Results'][0]['Driver']['familyName']
finish_mock['FastestLap'] = laps['MRData']['RaceTable']['Races'][0]['Results'][0]['FastestLap']['lap']
finish_mock['FastestTime'] = laps['MRData']['RaceTable']['Races'][0]['Results'][0]['FastestLap']['Time']['time']
finish_mock['FastestLapAvgSpeedKPH'] = laps['MRData']['RaceTable']['Races'][0]['Results'][0]['FastestLap']['AverageSpeed']['speed']
finish_mock['status'] = laps['MRData']['RaceTable']['Races'][0]['Results'][0]['status']

finish_mock_df = pd.DataFrame(finish_mock, index= [0])
finish_mock_df

  First_Name Last_Name FastestLap FastestTime FastestLapAvgSpeedKPH    status
0      Lewis  Hamilton         68    1:06.719               232.989  Finished

In [202]:
# I got the bare bones working, time to put this into a loop that will grab that information for all the drivers of that race 

def getLapInfo(year, round):
    """ 
        This function takes in the year and round of a f1 race and returns the race information beyond what place they have               finished. It returns info such as if they finished a lap or more behind, or out of the race for any reason, their fastest         lap and the time the driver is behind the race leader. 
    """
    url = "http://ergast.com/api/f1/{years}/{rounds}/results.json".format(years=year, rounds=round)
    response = requests.get(url)
    laps = json.loads(response.text)   
    column = ['Year', 'Round', 'First_Name',"Last_Name",'FastestLap','FastestTime','FastestLapAvgSpeedKPH']
    # Grabbing the amount of drivers 
    total_drivers = int(laps['MRData']['total'])
    export = pd.DataFrame(columns=column)

    # Setting i variable for try/while loop
    i = 0 

    # Now using a try/except/while loop to get what information I need 
    try:
        while i < total_drivers:
            finish_mock = {}
            finish_mock['Year'] = year
            finish_mock['Round'] = round
            finish_mock['First_Name'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['Driver']['givenName']
            finish_mock['Last_Name'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['Driver']['familyName']
            finish_mock['status'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['status']

            try: 
                finish_mock['FastestLap'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['FastestLap']['lap']
                finish_mock['FastestTime'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['FastestLap']['Time']['time']
                finish_mock['FastestLapAvgSpeedKPH'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['FastestLap']['AverageSpeed']['speed']
                finish_mock['TimeBehind'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['Time']['time']
                finish_mock_df = pd.DataFrame(finish_mock, index=[0])
                export = pd.concat([export, finish_mock_df], ignore_index=True)

            except KeyError:
                finish_mock['TimeBehind'] = laps['MRData']['RaceTable']['Races'][0]['Results'][i]['status']
                finish_mock['FastestLap'] = None
                finish_mock['FastestTime'] = None
                finish_mock['FastestLapAvgSpeedKPH'] = None
                finish_mock_df = pd.DataFrame(finish_mock, index=[0])
                export = pd.concat([export, finish_mock_df], ignore_index=True)
            i += 1 
    except IndexError:
        return export 

    return export

In [204]:
# getting the final dataframe to see how it would look
df = getLapInfo(2020, 6)
df
# TODO: Get this function to merge with the main dataframe!

,Year,Round,First_Name,Last_Name,FastestLap,FastestTime,FastestLapAvgSpeedKPH,status,TimeBehind
0,2020,6,Lewis,Hamilton,63,1:19.822,209.942,Finished,1:31:45.279
1,2020,6,Max,Verstappen,53,1:21.477,205.677,Finished,+24.177
2,2020,6,Valtteri,Bottas,66,1:18.183,214.343,Finished,+44.752
3,2020,6,Lance,Stroll,None,None,None,+1 Lap,+1 Lap
4,2020,6,Sergio,Pérez,None,None,None,+1 Lap,+1 Lap
5,2020,6,Carlos,Sainz,None,None,None,+1 Lap,+1 Lap
6,2020,6,Sebastian,Vettel,None,None,None,+1 Lap,+1 Lap
7,2020,6,Alexander,Albon,None,None,None,+1 Lap,+1 Lap
8,2020,6,Pierre,Gasly,None,None,None,+1 Lap,+1 Lap
9,2020,6,Lando,Norris,None,None,None,+1 Lap,+1 Lap
10,2020,6,Daniel,Ricciardo,None,None,None,+1 Lap,+1 Lap
11,2020,6,Daniil,Kvyat,None,None,None,+1 Lap,+1 Lap
12,2020,6,Esteban,Ocon,None,None,None,+1 Lap,+1 Lap
13,2020,6,Kimi,Räikkönen,None,None,None,+1 Lap,+1 Lap
14,2020,6,Kevin,Magnussen,None,None,None,+1 Lap,+1 Lap
15,2020,6,Antonio,Giovinazzi,None,None,None,+1 Lap,+1 Lap
16,2020,6,George,Russell,None,None,None,+1 Lap,+1 Lap
17,2020,6,Nicholas,Latifi,None,None,None,+2 Laps,+2 Laps
18,2020,6,Romain,Grosjean,None,None,None,+2 Laps,+2 Laps
19,2020,6,Charles,Leclerc,None,None,None,Electronics,Electronics

# Change of pace
I'm going to take a complete left turn. 

I think it would be better to have have to data I get be a JSON file instead of an xml. It is faster to parse AND I believe it would be easier to work with.

In [170]:
# Quick test Seeing how I would get a JSON 
import json

j = 2016
length = 0

url = "http://ergast.com/api/f1/{year}/{round}/driverStandings.json"
url1 = url.format(year = str(j), round = str(length))

url1

'http://ergast.com/api/f1/2016/0/driverStandings.json'

In [171]:
import requests 

response = requests.get(url1)
standing = json.loads(response.text)

In [172]:
import pandas as pd 

df = pd.DataFrame()

column_list = ['First_Name', 'Last_Name', 'Nationality', 'Number', 
               'Points', 'Position', 'Wins']

# New Data Extraction Function

Using what I've learned from my spotify project, I'm going to create a function that will take my scrapped data and return it as a pandas dataframe.

In [173]:
# live test to see how I'm going to parse the data to get what I need for each column
years = 2020
rounds = 3
url = "http://ergast.com/api/f1/{year}/{round}/driverStandings.json"
url1 = url.format(year = str(years), round = str(rounds))
standing['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][1]['Driver']['nationality']

'British'

In [174]:
# This is a test function to get test data. 
# Keeping it simple and controlled
def GetStandings(years, rounds):
  '''
    Simple function that returns a dataframe that contains the 
    year and round of a race and how the drivers place on it. 
  '''
  # making sure the inputs are strings 
  url = "http://ergast.com/api/f1/{year}/{round}/driverStandings.json"
  url1 = url.format(year = str(years), round = str(rounds))

  # now creating my dataframe 
  df = pd.DataFrame()

  # getting my dict that I will turn into a dataframe
  response = requests.get(url1)
  standing = json.loads(response.text)

  # with that info creating my columns 
  column_list = ['Year', 'Round', 'First_Name', 'Last_Name', 
                 'Track', 'Points', 'Position', 
                 'Wins']

  # now with that done time to take my dict and make 
  # it a data frame 
  i = 0

  # this determines how long the loop goes so we don't get an index error!
  length = int(standing['MRData']['total'])
  
  # This is going to be another variable, which will 
  # Get the track name of the round that it's in 
  url = "http://ergast.com/api/f1/{year}/{round}/qualifying.json".format(year = str(years), round = str(rounds))
  response = requests.get(url)
  track = json.loads(response.text)
  # This will be my final dataframe
  standing_df = pd.DataFrame(columns=column_list)

  # Using a while loop since every season has a different number of drivers
  # Want this program to work in the long run. 
  while i < length:
    driver_features = {}
    # getting the data I need
    driver_features['Year'] = int(years)
    driver_features['Round'] = int(rounds)
    driver_features['First_Name'] = standing['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][i]['Driver']['givenName']
    driver_features['Last_Name'] = standing['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][i]['Driver']['familyName']
    driver_features['Track'] = track["MRData"]["RaceTable"]["Races"][0]['Circuit']['circuitId']
    driver_features['Points'] = standing['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][i]['points']
    driver_features['Position'] = standing['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][i]['position']
    driver_features['Wins'] = standing['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][i]['wins']
    i+=1

    standing_df1 = pd.DataFrame(driver_features, index= [0])
    standing_df = pd.concat([standing_df, standing_df1], ignore_index=True)
  return standing_df

In [175]:
import requests
import json 
import pandas as pd 

url = "http://ergast.com/api/f1/{year}/{round}/qualifying.json".format(year = "2016", round = '3')

response = requests.get(url)
test = json.loads(response.text)
test['MRData']['RaceTable']['Races'][0]['Circuit']['circuitId']

'shanghai'

My current problem is that no matter how I set the loop up, I seem to only get one result with my dataframe. 

fixed it by creating a dataframe outside the loop and concatted the newly created one to the other one until the loop is done. it was overwriting itself the entire time. LOL

my second problem is that sometimes the total number of drivers is less than the actual number

The fix was simple, an overthinking part on my side. forgot that the json I'm working with already had the number of drivers in it already. used that to count the total instead.

In [176]:
GetStandings(2020, 3)

    Year Round First_Name   Last_Name        Track Points Position Wins
0   2020     3      Lewis    Hamilton  hungaroring     63        1    2
1   2020     3   Valtteri      Bottas  hungaroring     58        2    1
2   2020     3        Max  Verstappen  hungaroring     33        3    0
3   2020     3      Lando      Norris  hungaroring     26        4    0
4   2020     3  Alexander       Albon  hungaroring     22        5    0
5   2020     3     Sergio       Pérez  hungaroring     22        6    0
6   2020     3    Charles     Leclerc  hungaroring     18        7    0
7   2020     3      Lance      Stroll  hungaroring     18        8    0
8   2020     3     Carlos       Sainz  hungaroring     15        9    0
9   2020     3  Sebastian      Vettel  hungaroring      9       10    0
10  2020     3     Daniel   Ricciardo  hungaroring      8       11    0
11  2020     3     Pierre       Gasly  hungaroring      6       12    0
12  2020     3    Esteban        Ocon  hungaroring      4       13    0
13  2020     3    Antonio  Giovinazzi  hungaroring      2       14    0
14  2020     3     Daniil       Kvyat  hungaroring      1       15    0
15  2020     3      Kevin   Magnussen  hungaroring      1       16    0
16  2020     3       Kimi   Räikkönen  hungaroring      0       17    0
17  2020     3   Nicholas      Latifi  hungaroring      0       18    0
18  2020     3     Romain    Grosjean  hungaroring      0       19    0
19  2020     3     George     Russell  hungaroring      0       20    0

Now since I got the simple function done, time to make the big one again. This time it's much faster and much smaller. 

I want this function to return the results of the last 5 years

In [221]:
from datetime import datetime
def GetLast5Years():
  '''
  This function takes the driver standings from the last 
  5 years and returns an exported dataframe to work with. 
  '''
  # bringing in the column list once again 
  # TODO, in VSCODE make sure I can easily import it 
  # to save memory when running the full app. 
  column_list = ['Year', 'Round', 'First_Name', 'Last_Name', 
                 'Track', 'Points', 'Position', 
                 'Wins']
  column_list2 = ["Year", "Round", "First_Name", "Last_Name", 
                  "Q1_Time", "Q2_Time", "Q3_Time"]
  column_list3 = ['Year', 'Round', 'First_Name',"Last_Name",'FastestLap','FastestTime','FastestLapAvgSpeedKPH']
  column_list4 = ["Year", "Round", "Constructor", "Constructor_Points", "Constructor_Wins"]
  # making a new dataframe that will contain all of my variables. 
  export = pd.DataFrame(columns=column_list)
  export1 = pd.DataFrame(columns= column_list2)
  export_Con = pd.DataFrame(columns= column_list4) # Used to be export 2
  export_Lap = pd.DataFrame(columns= column_list3) # Used to be export 3

  # Starting with my first for loop, witch will loop through 
  # the last 5 years from the current date 
  today = datetime.today().year
  # A temporary fix since the 2021 season hasn't started yet
  # TODO, find a way to have to function work if 
  # The season hasn't started yet. 
  # Probs just have it do a precheck, if it returns an error
  # Skip the year and continue. 
  if today == 2021:
    today -= 1
  year_list = []
  # Creating my boundries for the loop 
  for i in range(5):
    year_list.append(today)
    today -= 1

  for race in year_list:
    # Grabbing the length of the inner loop. 
    url4 = "http://ergast.com/api/f1/{year}.json".format(year=str(race))
    response = requests.get(url4)
    test = json.loads(response.text)
    length = int(test['MRData']['total'])
    

    for k in range(length):
      # The goal of this loop is to grab the standings for each round 
      # and add it to the dataframe. 
      temp4 = getLapInfo(race, k)
      temp2 = get_qualifying(race, k)
      temp = GetStandings(race, k)
      temp3 = GetConstructorStanding(race, k)
      # Merging the Constructor dataframes
      export_Con = pd.concat([export_Con, temp3], ignore_index=True)
      # Merging the additional driver info 
      export_Lap = pd.concat([export_Lap, temp4], ignore_index=True)
      # Merging the base driver info. 
      export = pd.concat([export, temp], ignore_index=True)
      export1 = pd.concat([export1, temp2], ignore_index=True)
      # Final combination of the dataframes. 
  
  done = pd.merge(export1, export, on=['Year', 'Round', 'First_Name', 'Last_Name'])
  final_export = pd.merge(export_Lap, done, on=['Year', 'Round', 'First_Name', 'Last_Name'])    
  return final_export, export_Con

# Getting the qualifying times 

This function will grab all of the Q1 times for each driver

TODO: If I do have any spare time, have this function take the drivers fastest time instead of just their Q1 time. Problem is that it will make the function just a bit slower....

In [222]:
# Writing a function that will get the qualifying times for Q1
def get_qualifying(years, rounds):
  # making my columns list
  column_list = ["Year", "Round", "First_Name", "Last_Name", "Q1_Time", "Q2_Time", "Q3_Time", "Constructor"]
  # make a new dataframe to write to 
  export = pd.DataFrame(columns=column_list)
  
  # now getting the dict
  url = "http://ergast.com/api/f1/{year}/{round}/qualifying.json".format(year = str(years), round = str(rounds))
  response = requests.get(url)
  qual = json.loads(response.text)

  # Setting the varible for our while loop
  i = 0 

  length = int(qual['MRData']['total'])

  # making a while loop 
  while i < length: 
    # creating an if statement to stop the loop if
    # nothing is there 
    try:
      # creating an empty dict
      qual_feat = {}

      # now assigning what I need to this dict
      qual_feat["Year"] = int(years)
      qual_feat["Round"] = (int(rounds) + 1)
      qual_feat["First_Name"] = qual["MRData"]["RaceTable"]["Races"][0]["QualifyingResults"][i]['Driver']['givenName']
      qual_feat["Last_Name"] = qual['MRData']['RaceTable']['Races'][0]['QualifyingResults'][i]['Driver']['familyName']
      qual_feat["Q1_Time"] = qual['MRData']['RaceTable']['Races'][0]['QualifyingResults'][i]['Q1']
      try:
        qual_feat['Q2_Time'] = qual['MRData']['RaceTable']['Races'][0]['QualifyingResults'][i]['Q2']
      except KeyError:
        pass
      try:
        qual_feat["Q3_Time"] = qual['MRData']['RaceTable']['Races'][0]['QualifyingResults'][i]['Q3']
      except KeyError:
        pass 
      qual_feat["Constructor"] = qual['MRData']['RaceTable']['Races'][0]['QualifyingResults'][i]['Constructor']['name']

      # now creating a dataframe to work with this. 
      quick_df = pd.DataFrame(qual_feat, index= [0])
      export = pd.concat([export, quick_df], ignore_index=True)
      i+=1
    except IndexError:
      return export
  return export

In [223]:
df, test = GetLast5Years()
df

,Year,Round,First_Name,Last_Name,FastestLap,FastestTime,FastestLapAvgSpeedKPH,status,TimeBehind,Q1_Time,Q2_Time,Q3_Time,Constructor,Track,Points,Position,Wins
0,2020,1,Valtteri,Bottas,68,1:07.657,229.758,Finished,1:30:55.739,1:04.111,1:03.015,1:02.939,Mercedes,red_bull_ring,25,1,1
1,2020,1,Charles,Leclerc,64,1:07.901,228.933,Finished,+2.700,1:04.500,1:04.041,1:03.923,Ferrari,red_bull_ring,18,2,0
2,2020,1,Lando,Norris,71,1:07.475,230.378,Finished,+5.491,1:04.606,1:03.819,1:03.626,McLaren,red_bull_ring,16,3,0
3,2020,1,Lewis,Hamilton,67,1:07.712,229.572,Finished,+5.689,1:04.198,1:03.096,1:02.951,Mercedes,red_bull_ring,12,4,0
4,2020,1,Carlos,Sainz,63,1:07.974,228.687,Finished,+8.903,1:04.537,1:03.971,1:03.971,McLaren,red_bull_ring,10,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,2016,20,Esteban,Gutiérrez,None,None,None,Retired,Retired,1:21.401,NaN,NaN,Haas F1 Team,interlagos,0,21,0
1909,2016,20,Felipe,Massa,None,None,None,Collision,Collision,1:20.423,1:20.151,1:20.032,Williams,interlagos,51,11,0
1910,2016,20,Kimi,Räikkönen,None,None,None,Collision,Collision,1:19.554,1:19.936,1:19.376,Ferrari,interlagos,178,6,0
1911,2016,20,Marcus,Ericsson,None,None,None,Collision,Collision,1:21.062,1:21.536,NaN,Sauber,interlagos,0,22,0
1912,2016,20,Romain,Grosjean,None,None,None,Withdrew,Withdrew,1:21.916,NaN,NaN,Haas F1 Team,interlagos,29,13,0

In [224]:
test

      Year Round     Constructor Constructor_Points Constructor_Wins
0     2020     0        Mercedes                573               13
1     2020     0        Red Bull                319                2
2     2020     0         McLaren                202                0
3     2020     0    Racing Point                195                1
4     2020     0         Renault                181                0
...    ...   ...             ...                ...              ...
1016  2016    20      Toro Rosso                 63                0
1017  2016    20    Haas F1 Team                 29                0
1018  2016    20         Renault                  8                0
1019  2016    20          Sauber                  2                0
1020  2016    20  Manor Marussia                  1                0

[1021 rows x 5 columns]

I got the function working, now time to include the drivers best times (from qualifying Q1), will need to source that indivdually, but will add to these functions. After that I am done extracting the data I need. LET'S GO!! 

Also going to need to get tracks they raced on that round.

Today's task is relitivly simple, going to get the remaining data, the qualifying laptimes and their

I want to get the qualifying times for each racer and race as well, problem is that the order might just be messed up. I need to see how I would restructure the data so I can merge safely or see if I can merge two dataframes with a pandas function that finds the index automaticlly. 

I can use the pd.merge function to get what I need, just need to do a quick test to see if it would work. 

I want to merge the dataframes on the last names and the year and rounds.

In [14]:
# These 3 cells grab all the information from the qualifying json of the Ergast Database. 
years = 2020
rounds = 9
done = "http://ergast.com/api/f1/{year}/{round}/qualifying.json"
done1 = done.format(year = str(years), round = rounds)
response = requests.get(done1)
test = json.loads(response.text)

In [15]:
test['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Q1']

'1:15.778'

In [16]:
test['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Driver']['familyName']
test['MRData']['RaceTable']['round']
test['MRData']['RaceTable']['season']
test['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Driver']['givenName']
test['MRData']['total']
test['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0]['Constructor']

{'constructorId': 'mercedes',
 'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
 'name': 'Mercedes',
 'nationality': 'German'}

In [17]:
# Now grabbing what I can from the constructor standings page from the API. 

url = "http://ergast.com/api/f1/{year}/{round}/constructorStandings.json".format(year = str(2019), round = str(5))
response = requests.get(url)
test1 = json.loads(response.text)

In [18]:
test1['MRData']['StandingsTable']

{'season': '2019',
 'round': '5',
 'StandingsLists': [{'season': '2019',
   'round': '5',
   'ConstructorStandings': [{'position': '1',
     'positionText': '1',
     'points': '217',
     'wins': '5',
     'Constructor': {'constructorId': 'mercedes',
      'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
      'name': 'Mercedes',
      'nationality': 'German'}},
    {'position': '2',
     'positionText': '2',
     'points': '121',
     'wins': '0',
     'Constructor': {'constructorId': 'ferrari',
      'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
      'name': 'Ferrari',
      'nationality': 'Italian'}},
    {'position': '3',
     'positionText': '3',
     'points': '87',
     'wins': '0',
     'Constructor': {'constructorId': 'red_bull',
      'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
      'name': 'Red Bull',
      'nationality': 'Austrian'}},
    {'position': '4',
     'positionText': '4',
     'points': '22',
     'wins': '0',
     'Constructor': {'constructorId': 'mclaren',
      'url': 'http://en.wikipedia.org/wiki/McLaren',
      'name': 'McLaren',
      'nationality': 'British'}},
    {'position': '5',
     'positionText': '5',
     'points': '17',
     'wins': '0',
     'Constructor': {'constructorId': 'racing_point',
      'url': 'http://en.wikipedia.org/wiki/Racing_Point_F1_Team',
      'name': 'Racing Point',
      'nationality': 'British'}},
    {'position': '6',
     'positionText': '6',
     'points': '15',
     'wins': '0',
     'Constructor': {'constructorId': 'haas',
      'url': 'http://en.wikipedia.org/wiki/Haas_F1_Team',
      'name': 'Haas F1 Team',
      'nationality': 'American'}},
    {'position': '7',
     'positionText': '7',
     'points': '13',
     'wins': '0',
     'Constructor': {'constructorId': 'alfa',
      'url': 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One',
      'name': 'Alfa Romeo',
      'nationality': 'Italian'}},
    {'position': '8',
     'positionText': '8',
     'points': '12',
     'wins': '0',
     'Constructor': {'constructorId': 'renault',
      'url': 'http://en.wikipedia.org/wiki/Renault_in_Formula_One',
      'name': 'Renault',
      'nationality': 'French'}},
    {'position': '9',
     'positionText': '9',
     'points': '6',
     'wins': '0',
     'Constructor': {'constructorId': 'toro_rosso',
      'url': 'http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso',
      'name': 'Toro Rosso',
      'nationality': 'Italian'}},
    {'position': '10',
     'positionText': '10',
     'points': '0',
     'wins': '0',
     'Constructor': {'constructorId': 'williams',
      'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
      'name': 'Williams',
      'nationality': 'British'}}]}]}

## Explaining the GetConstructorStanding Function. 

This function takes from another part of the database, this would grab the information of how those constructors are doing in that specific round of a season (the input data).

From there, it would take in all the information from the json, convert into a dict (done automaticly on python since dicts are pretty much jsons) and then take the data that is important, and log the data inside a dataframe that will be exported to be later merged with the main dataframe.

In [39]:
test1 = GetConstructorStanding(2019, 9)

In [40]:
test

    Constructor Constructor Points  Year Round Constructor Wins
0      Mercedes                363  2019     9                8
1       Ferrari                228  2019     9                0
2      Red Bull                169  2019     9                1
3       McLaren                 52  2019     9                0
4       Renault                 32  2019     9                0
5    Alfa Romeo                 22  2019     9                0
6  Racing Point                 19  2019     9                0
7    Toro Rosso                 17  2019     9                0
8  Haas F1 Team                 16  2019     9                0
9      Williams                  0  2019     9                0

## Since I got the standings of the constructor teams... 

Now I'm going to need to merge the two dataframes into one mega dataframe

In [21]:
# Starting out with a merge test using a right merge. 

merged_df = pd.concat([])

TypeError: object of type 'NoneType' has no len()

## Updating the times 

At first I was going to drop the Q1 Qual time entirely and replace it with fastest time but I realized that it isn't any kind of data leak this data is only going help the model a bit more. So having the Qualifying time (Q1) and Fastest lap time in junction with each other.

In [22]:
# This link is going to need a round and the year.... 
def GetFastestLap(round, year):
  url = "http://ergast.com/api/f1/{year}/{round}/fastest/1/results".format(year=year, round=round)

In [23]:
# Now I'm going to run a test, see if I can these two dataframes merge
get_qualifying(2017, 20)

,Year,Round,First_Name,Last_Name,Q1_Time,Q2_Time,Q3_Time,Constructor
0,2017,21,Valtteri,Bottas,1:37.356,1:36.822,1:36.231,Mercedes
1,2017,21,Lewis,Hamilton,1:37.391,1:36.742,1:36.403,Mercedes
2,2017,21,Sebastian,Vettel,1:37.817,1:37.023,1:36.777,Ferrari
3,2017,21,Daniel,Ricciardo,1:38.016,1:37.583,1:36.959,Red Bull
4,2017,21,Kimi,Räikkönen,1:37.453,1:37.302,1:36.985,Ferrari
5,2017,21,Max,Verstappen,1:38.021,1:37.777,1:37.328,Red Bull
6,2017,21,Nico,Hülkenberg,1:38.781,1:38.138,1:38.282,Renault
7,2017,21,Sergio,Pérez,1:38.601,1:38.359,1:38.374,Force India
8,2017,21,Esteban,Ocon,1:38.896,1:38.392,1:38.397,Force India
9,2017,21,Felipe,Massa,1:38.629,1:38.565,1:38.550,Williams
10,2017,21,Fernando,Alonso,1:38.820,1:38.636,NaN,McLaren
11,2017,21,Carlos,Sainz,1:38.810,1:38.725,NaN,Renault
12,2017,21,Stoffel,Vandoorne,1:38.777,1:38.808,NaN,McLaren
13,2017,21,Kevin,Magnussen,1:39.395,1:39.298,NaN,Haas F1 Team
14,2017,21,Lance,Stroll,1:39.503,1:39.646,NaN,Williams
15,2017,21,Romain,Grosjean,1:39.516,NaN,NaN,Haas F1 Team
16,2017,21,Pierre,Gasly,1:39.724,NaN,NaN,Toro Rosso
17,2017,21,Pascal,Wehrlein,1:39.930,NaN,NaN,Sauber
18,2017,21,Marcus,Ericsson,1:39.994,NaN,NaN,Sauber
19,2017,21,Brendon,Hartley,1:40.471,NaN,NaN,Toro Rosso

In [24]:
# time to test out the merger
df1 = get_qualifying(2020, 4)
df2 = GetStandings(2020, 4)

In [25]:
df3 = pd.merge(df1, df2, on=['Year', 'Round', 'First_Name', 'Last_Name'])

My Function works! time to put this function into the main function! Getting the data I need is now done

In [26]:
# Now it's time to export my data and apply a base model 

df.to_csv("driver-info.csv")

I got al the data I need now, time to fit a base model and see the results that I get out of it. I'm excited to see the base results

Things to note, I'm trying to predict what place each driver ends up in, and also their qualifying times, which are both regressional problems. I will need to build two models that work with that.

In [226]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /opt/anaconda3/lib/python3.8/site-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.18.5)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: pandas>=0.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: scipy>=1.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)

In [227]:
# time to fit a base model
from sklearn.linear_model import LinearRegression
import category_encoders as ce
from sklearn.model_selection import train_test_split



# Setting my X variable and my y variable
X = df.drop('Position', axis=1)
y = df['Position']

# Using the One Hot Encoder 
encoder = ce.OrdinalEncoder()
X_encoded = encoder.fit_transform(X)


# starting out with a base x_train and y_train
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.25, random_state=42)


# now applying my model 
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [228]:
X_test

,Year,Round,First_Name,Last_Name,FastestLap,FastestTime,FastestLapAvgSpeedKPH,status,TimeBehind,Q1_Time,Q2_Time,Q3_Time,Constructor,Track,Points,Wins
1230,4,7,4,4,2.0,597.0,596.0,1,639,1111,830,7,1,18,210,4
111,1,6,14,14,-1.0,-1.0,-1.0,9,27,90,9,7,7,4,11,2
1846,5,17,8,8,-1.0,-1.0,-1.0,9,27,1682,9,7,14,22,11,2
1722,5,12,21,31,34.0,795.0,797.0,1,850,1564,1164,766,1,20,241,6
415,2,6,20,20,51.0,230.0,229.0,1,257,369,280,184,9,17,63,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,1,11,20,20,11.0,114.0,113.0,1,131,178,134,88,9,9,62,1
802,3,5,18,18,-1.0,-1.0,-1.0,10,28,723,549,7,8,4,8,2
1626,5,7,17,17,-1.0,-1.0,-1.0,10,28,1471,1098,7,6,18,7,2
1828,5,17,4,4,49.0,846.0,849.0,1,901,1666,1241,813,1,22,230,7
1720,5,12,19,19,36.0,793.0,795.0,1,848,1562,1162,764,9,20,109,2

In [229]:
# Let's test this 
y_pred = model.predict(X_test)

In [230]:
y_pred

array([ 1.51989924, 12.84857951, 18.39963004,  1.68614448,  9.64633859,
        4.80780088,  6.91434274, 13.3809532 ,  6.00669485,  3.52211395,
        2.68131843, 10.44676832, 11.9941037 ,  9.68798917,  8.89513647,
       17.2265164 ,  3.90457443, 16.27215395,  3.41660587,  9.40734205,
       14.76918166,  4.15992662, 10.37537201, 11.26054623,  9.88389047,
        1.86745252, 12.88914329, 14.27136902,  9.28621123, 10.75329536,
        9.99950042,  7.38989123, 19.3628676 , 12.14897522, 11.35701193,
       15.11790111, 10.6897508 ,  6.04937818,  3.58132649, 16.45995067,
       15.24820803, 12.07345108, 13.13163295,  4.7330852 , 13.81052531,
       19.75753982,  3.48934554,  1.08383078,  6.38545668, 13.0929689 ,
        2.71673696, 17.98287074,  1.77251726,  5.96349462, 14.4326248 ,
       15.72937019,  6.59855582, 10.47214959, 12.8328542 , 24.47436641,
       18.68527937, 15.78766663,  3.82276436, 11.32238878,  8.01063834,
       12.86974071,  8.88946121, 11.11698319,  7.84192486,  7.0191254 ,
        5.24280036,  7.52641319, 21.04110682,  9.86904709,  9.77335936,
        7.50452345, 10.1774975 , 16.74877354, 11.16618242, 10.00906829,
       14.68671038, 15.52985987, 14.32036399, 16.5606298 ,  4.02805991,
       20.6974273 , 11.78513249, 10.59270909, 20.43629117, 13.47239658,
       10.47251568,  5.44402775,  5.10313469, 11.93132197,  3.40061218,
       13.62289364, 13.76822009,  3.54719074, 14.79978887, 15.34243059,
       11.91619146, 16.53560247, 12.18931211,  9.93245107,  9.71311457,
        3.06423771, 11.90812119, 12.62026994,  3.77862445, 16.60826841,
       11.93355651,  6.12050634,  8.37529408, 15.38954373, -2.68330898,
       13.29220322,  9.37825548, 12.85134729,  9.30546641, 11.10720627,
       15.39579586, 12.00216028, 21.9663331 , 16.05151223, 20.48762136,
        3.54781838, 10.90486918,  8.11182417, 17.98523263, 14.32247687,
       16.06170506,  8.86051363, 10.65821957, 13.98679203, 14.74961462,
        6.74643843, 17.20771134, 10.47751318, 12.29765893, 11.21122584,
       16.97158852, 14.83791315, 21.27541595, 12.9635723 , 18.31396277,
       18.01724609, 10.67872843, 13.41808424, 11.65764275, 12.7185675 ,
        2.45288502,  1.55567212,  3.37907334, 10.38940232, 11.54462494,
        8.29160327, 10.85430785, 12.58368729,  6.64179867,  3.24419667,
        8.10210272, 14.70803506,  5.49112472, 15.27264179, 12.94733833,
       10.87003432,  9.50942749, 11.46685707,  9.08446295, 17.66224518,
       12.05194953,  3.36670827,  6.87946583,  9.00965561,  4.47532364,
       14.25994531, 16.12056024, 12.9560396 , 10.41745861, 17.70624927,
        5.74786726, 13.80161287,  7.1983536 , 11.12464283,  6.87683252,
        4.7829698 , 10.04924594, 11.83981765, 15.31374885,  2.77331295,
       14.76510236,  8.21948158, 10.85050328,  9.90675045, 10.54880805,
       11.89075793, 13.42469059, 15.20812867,  8.84101537, 14.40375247,
        7.58325362,  6.81675011,  6.76655549,  7.7637489 , 13.60468513,
       13.18879479,  6.24124719, 13.74343905, 13.24624893, 15.32925656,
       15.00793276, 14.6562572 , 13.5278354 ,  5.21701633, 14.99487725,
        3.72915541, 10.10789788, 13.79677348,  5.98425589, 12.26933308,
        9.67009921, 10.23637053, 10.70445647, 11.43569659,  6.65052119,
        9.83062866,  9.99718045, 14.62886423, 10.38613069, 15.21764023,
       12.50971211, 14.79664366, 10.18642872, 10.69628355, 10.31785611,
       12.04191061, 20.6247043 , 11.99901409,  8.62872424,  7.56210639,
        9.93803589, 10.20841562,  7.44621538,  4.55508036, 13.49646502,
        6.99112004, 15.74755173, 16.01099484,  7.19116281,  9.31597472,
        4.70334315,  9.65399247, -3.04950995, 10.9089526 , 13.33340709,
        7.62851926, 10.74933842, 12.48431316,  4.00311927, 11.07090536,
       18.68720082,  1.47309124, 12.25135291, 11.70723199,  7.69066197,
       12.11423707, 16.13507293, 14.09649835, 14.01366212,  5.38513878,
       10.82388058,  4.37943435,  0.26590726, 14.97165534, 15.22370677,
        7.29732617, 11.23578872, 18.39107437, 11.90244638, 10.33772886,
        4.63120798, 15.48215082,  6.43928953,  2.11278402, -0.66073799,
       10.4677254 ,  8.37349446, 10.40637537,  5.49350291, -0.33025621,
        9.63813008, 12.03070601, 15.09035384,  9.64311054, 13.32460861,
        8.59681839,  9.24227898,  8.38896232, 16.19566103, 14.83477416,
       16.52028641, 20.3878845 , 19.57463511, 10.65581737,  9.73919357,
       12.82205945, 12.19419057, 11.86952764, 13.21680321, 11.05209951,
        9.7656365 , 14.64066971, 14.34256699, 11.8065989 , 10.24646615,
       15.26296   , 12.06246194,  6.93195008, 11.337003  , 15.70459357,
       14.88836924,  2.62095331, 11.32858074, 19.75035676, 12.19533505,
       16.53319467,  9.14084392,  7.49028441, 11.68952104, 14.81892613,
       11.58810435,  7.72638967, 18.65157944, 15.99392396, 10.2360918 ,
       10.97207753, 13.24401978, 15.17754988, 18.04269914, 12.70904743,
       11.45198435,  8.97047318,  6.60894385, 13.4479971 , 17.25197712,
       11.08076931, 19.37134384, 12.5480738 , -2.78667111,  7.96126883,
        9.16508217, 17.65530673,  9.66437886, 11.34283085, 11.37627862,
        6.39489201, 11.31527148,  6.11505626,  5.92088838, 15.4099775 ,
       13.56132203,  4.11682658,  3.61146956, 14.28582121, 11.67501367,
       15.78422018, 12.1853869 , 13.54238234, 10.46247729, 13.60537658,
       17.59305326, 11.31470152, 13.78827963,  4.56630464, 12.29919893,
        9.21080016,  7.91581032,  6.78973985, 15.7667191 , 15.35130292,
        7.09111976,  3.93705708,  7.339161  ,  4.04295885,  9.28424017,
        0.77171972,  6.39684571, 14.40602036, 12.65450739, 16.10030277,
       14.77272944,  8.63613212, 14.40870305,  9.77648301, 18.38291576,
       12.78230649, 11.63568542, 11.95849977, 15.1791107 , 13.73670101,
        2.46067302, 17.4982448 ,  4.70736145, 13.06686318, 10.67976349,
       20.33373482, 11.08800222, 11.05218833, 19.82306191, 15.20068848,
       18.1991417 , 19.78325095,  7.88851484,  5.70180877, 22.50225034,
        6.39441025, 13.6396997 ,  7.79786358, 13.58206883,  2.10642537,
       16.67333794, 16.7761777 , 15.87778932,  8.65261413,  7.21584306,
       11.46015241, 11.19332436, 12.3944056 , 15.98796678,  7.36714532,
        6.79683287,  9.62226036, 16.86793832,  3.19345545, 19.97031867,
        9.38546443, 20.49723711, 16.33169864,  1.53210263, 15.59755787,
        7.8196456 ,  9.41782658, 10.71902108, 11.13171075,  5.75943913,
       10.05700067,  8.57850868,  9.99380002, 15.31601098, 10.50070799,
       10.40895485, 13.94164317,  5.94785648, 15.00065856,  7.35945901,
       18.94270145,  8.07719951, 19.96137775,  1.41003827, 14.53086373,
        4.77330407, 12.81989813,  9.43904211, 19.13763153, 11.99800292,
       12.14979504, 17.96365751,  9.65931784, 10.48971405, 14.8864638 ,
        8.59485372,  4.21620389, 14.22987487, 11.55935074, 11.92528913,
       13.5798819 , 12.91310051, -2.57292812,  6.6390476 ])

In [231]:
X_pred = encoder.inverse_transform(X_test)

In [232]:
import numpy as np

y_pred_df = pd.DataFrame(y_pred, columns=["Position"])

In [233]:
X_pred['Position'] = y_pred

In [234]:
X_pred

,Year,Round,First_Name,Last_Name,FastestLap,FastestTime,FastestLapAvgSpeedKPH,status,TimeBehind,Q1_Time,Q2_Time,Q3_Time,Constructor,Track,Points,Wins,Position
1230,2017,7,Lewis,Hamilton,64,1:14.551,210.588,Finished,1:33:05.154,1:13.640,1:14.106,NaN,Mercedes,villeneuve,129,3,1.519899
111,2020,6,Kimi,Räikkönen,NaN,NaN,NaN,+1 Lap,+1 Lap,1:28.493,NaN,NaN,Alfa Romeo,catalunya,0,0,12.848580
1846,2016,17,Esteban,Ocon,NaN,NaN,NaN,+1 Lap,+1 Lap,1:36.451,NaN,NaN,Manor Marussia,suzuka,0,0,18.399630
1722,2016,12,Nico,Rosberg,51,1:19.122,208.114,Finished,+15.845,1:33.302,1:22.806,1:19.965,Mercedes,hockenheimring,198,5,1.686144
415,2019,6,Max,Verstappen,9,1:16.229,157.593,Finished,+5.537,1:17.244,1:16.726,1:16.357,Red Bull,monaco,78,0,9.646339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2020,11,Max,Verstappen,60,1:28.139,210.267,Finished,+4.470,1:33.630,1:33.157,1:31.867,Red Bull,nurburgring,147,1,11.925289
802,2018,5,Lance,Stroll,NaN,NaN,NaN,+2 Laps,+2 Laps,1:44.359,1:43.585,NaN,Williams,catalunya,4,0,13.579882
1626,2016,7,Kevin,Magnussen,NaN,NaN,NaN,+2 Laps,+2 Laps,1:16.253,1:16.058,NaN,Renault,villeneuve,6,0,12.913101
1828,2016,17,Lewis,Hamilton,36,1:35.152,219.703,Finished,+5.776,1:34.444,1:33.046,1:32.850,Mercedes,suzuka,280,6,-2.572928
1720,2016,12,Daniel,Ricciardo,48,1:18.442,209.918,Finished,+6.996,1:39.968,1:23.234,1:20.280,Red Bull,hockenheimring,133,0,6.639048

# Where I left off 

Looking at where I left off, it's clear that I got a base model running. This is a regressional problem, and my base model is not very accurate. I also remembered that since the model spits out a numpy array, I can attach it to my test dataframe so it can predict the places for what place each driver will get. 

Now I'm going to make another data frame, this one will be the values it's going to take to actually predict. then let's see what the model will do.

In [225]:
# let's see how good hamilton does in red bull ring
mask = df['Track'] == 'red_bull_ring'  
mask2 = df['Last_Name'] == 'Hamilton'
df2 = df[mask]
df2[mask2]

,Year,Round,First_Name,Last_Name,FastestLap,FastestTime,FastestLapAvgSpeedKPH,status,TimeBehind,Q1_Time,Q2_Time,Q3_Time,Constructor,Track,Points,Position,Wins
3,2020,1,Lewis,Hamilton,67,1:07.712,229.572,Finished,+5.689,1:04.198,1:03.096,1:02.951,Mercedes,red_bull_ring,12,4,0
20,2020,2,Lewis,Hamilton,68,1:06.719,232.989,Finished,1:22:50.683,1:04.198,1:03.096,1:02.951,Mercedes,red_bull_ring,37,2,1
476,2019,9,Lewis,Hamilton,69,1:08.050,228.432,Finished,+22.805,1:30.609,1:29.520,1:28.319,Mercedes,red_bull_ring,197,1,6
887,2018,9,Lewis,Hamilton,None,None,None,Fuel pressure,Fuel pressure,1:31.271,1:30.645,1:30.029,Mercedes,red_bull_ring,145,2,3
1272,2017,9,Lewis,Hamilton,69,1:07.411,230.597,Finished,+7.430,1:41.983,1:41.275,1:40.593,Mercedes,red_bull_ring,151,2,3
1654,2016,9,Lewis,Hamilton,67,1:08.411,227.647,Finished,1:27:38.107,1:44.259,1:43.526,2:01.954,Mercedes,red_bull_ring,142,2,3

In [261]:
column_list = ["Year", "Round", "First_Name", "Last_Name", "Track", "Points", "Wins", "Q1_Time", "Q2_Time", "Q3_Time"]
test_df = pd.DataFrame(columns=column_list)

new_info = {"Year": 2021, 
            "Round": 1,
            "First_Name": "Lewis",
            "Last_Name": "Hamilton",
            "Constructor": "Mercedes",
            "FastestTime": "1:07.342",
            "FastestLap": "66",
            "FastestLapAvgSpeedKPH": "222",
            'status': "Finished",
            'TimeBehind': "1:20:05.154",
            "Q1_Time": "1:04.432",
            "Q2_Time": "1:04.432",
            "Q3_Time": "1:04.432",
            "Track": "red_bull_ring",
            "Points": 358,
            "Wins": 9}

test_df = test_df.append(new_info, ignore_index=True)
# Always make sure to encode my dataframe, 
# I can decode it after I'm done. 
test_df_e = encoder.fit_transform(test_df)

In [262]:
# getting the prediction, let's see how well he does
y_pred = model.predict(test_df_e)
y_pred

array([6.52261407])

# Play with the dict and see how it effects the model

The only features that are important to this model is the name and which round it is. I thought the wins and points would be the most important parts to the model but it's clear that it's doing it based on the driver. 

I want to try a tree model that will be much more accurate. and from there see what I can do to get the most accurate model possible.

# TODO

Linked this project to a GitHub Repo to continue working on the project. It is imparitive that I do that.